/* GRAVITYVIEWS
---------------------------------------------------------------------------- */
/* Multi entry view */
.gv-list-multiple-container
.gv-list-view
.gv-grid
.gv-list-view-content-description {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.gv-list-multiple-container
.gv-list-view
.gv-grid
.gv-list-view-content-description
div:first-child {
    width: 90px;
}

.gv-list-multiple-container
.gv-list-view
.gv-grid
.gv-list-view-content-description
div {
    margin-right: 20px;
}

.gv-search-clear {
    margin-left: 20px;
}

.gv-search-box label {
    width: 100% !important;
}

#ui-datepicker-div {
    z-index: 100;
}

/* Single Entry Views */
.gv-list-single-container .gv-field-label {
    background: #e9e4ff;
    display: inline-block;
    width: 100%;
    padding-left: 10px;
}

input:-moz-read-only,
textarea:-moz-read-only,
input:read-only,
textarea:read-only {
    border: 0;
    box-shadow: none;
}

/* textarea:-moz-read-write,
textarea:read-write {
  box-shadow: inset 1px 1px 3px #ccc;
  border-radius: 5px;
} */

.postid-9240 .dataTables_scrollBody {
    height: 70vh !important;
    max-height: 1000px !important;
}

#ui-datepicker-div {
    z-index: 100000 !important;
}
